In [1]:
# import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
from textwrap import wrap
import re
import jdatetime

In [2]:
# URLs
file_path = './data/Industry-Indices.xlsx'
tse_main_url = 'http://www.tsetmc.com/Loader.aspx?ParTree=15'
industries_operation_url = 'http://www.tsetmc.com/Loader.aspx?Partree=15131O'

## Fetching data

In [3]:
res = requests.get(url=tse_main_url)
res.text[:300]

'<!doctype html><html><head><title>.:TSETMC:. :: شرکت مدیریت فناوری بورس تهران</title><script>var LongRunnigPagesSite=\'http://cdn2.tsetmc.com\';function ens(ty,sv){var lv=localStorage.getItem("v_"+ty);var t;if (1==1 || lv!=sv){var oX=new XMLHttpRequest();oX.open(\'GET\', \'tsev2/res/loader.aspx?t=\'+ty+\'&'

In [4]:
def get_and_parse_url(url, params=None):
    """
        get a URL, grab the data, and return a BeautifulSoup object with parsed data
    """
    res = requests.get(url=url, params=params)
    soup = BeautifulSoup(markup=res.text, features='html.parser')
    return soup

In [5]:
soup = get_and_parse_url(url=industries_operation_url)
print(soup.prettify()[:500])

<!DOCTYPE doctype html>
<html>
 <head>
  <title>
   .:TSETMC:. :: برترین گروه های صنعت
  </title>
  <script>
   var LongRunnigPagesSite='http://cdn2.tsetmc.com';function ens(ty,sv){var lv=localStorage.getItem("v_"+ty);var t;if (1==1 || lv!=sv){var oX=new XMLHttpRequest();oX.open('GET', 'tsev2/res/loader.aspx?t='+ty+'&_'+sv,false);oX.send(null);t=oX.responseText;if(t[t.length-1]!=';') return;localStorage.setItem("v_"+ty,sv);localStorage.setItem("t_"+ty,t)}else{t=localStorage.getItem("t_"+ty)}if (

In [6]:
msoup = get_and_parse_url(url=tse_main_url)
print(msoup.prettify()[:500])

<!DOCTYPE doctype html>
<html>
 <head>
  <title>
   .:TSETMC:. :: شرکت مدیریت فناوری بورس تهران
  </title>
  <script>
   var LongRunnigPagesSite='http://cdn2.tsetmc.com';function ens(ty,sv){var lv=localStorage.getItem("v_"+ty);var t;if (1==1 || lv!=sv){var oX=new XMLHttpRequest();oX.open('GET', 'tsev2/res/loader.aspx?t='+ty+'&_'+sv,false);oX.send(null);t=oX.responseText;if(t[t.length-1]!=';') return;localStorage.setItem("v_"+ty,sv);localStorage.setItem("t_"+ty,t)}else{t=localStorage.getItem("t_"

## Find the date (Jalali) and convert it to Gregorian

In [7]:
# Market info located in a blue div
blue_div = msoup.find_all(name='div', class_='box1 blue tbl z1_4 h210')
len(blue_div)

2

In [8]:
# first blue div is the one that I need
blue_div[0]

<div class="box1 blue tbl z1_4 h210">
<div class="header">بازار نقدی بورس در یک نگاه</div>
<div class="content">
<table class="table1">
<tbody>
<tr>
<td>وضعیت بازار</td>
<td>بسته <span class="RealServerTime"><!--RealServerTime--></span></td>
</tr>
<tr>
<td>شاخص کل</td>
<td>226,983.38 <div class="pn">2439.00</div></td>
</tr>
<tr>
<td>شاخص كل (هم وزن)</td>
<td>53,600.18 <div class="pn">1293.19</div></td>
</tr>
<tr>
<td>ارزش بازار</td>
<td><div class="ltr" title="8,566,835,533,527,786">8,566,835.534 B</div></td>
</tr>
<tr>
<td>اطلاعات قیمت</td>
<td>98/3/13 16:44:51</td>
</tr>
<tr>
<td>تعداد معاملات</td>
<td>329,012</td>
</tr>
<tr>
<td>ارزش معاملات</td>
<td><div class="ltr" title="13,530,147,428,652">13,530.147 B</div></td>
</tr>
<tr>
<td>حجم معاملات</td>
<td><div class="ltr" title="4,999,166,899">4.999 B</div></td>
</tr>
</tbody>
</table>
</div>
</div>

In [9]:
# Grab the datetime out of the blue div
tds = blue_div[0].find_all('td')
info_datetime = tds[9].string
info_datetime = '13'+ info_datetime
info_datetime

'1398/3/13 16:44:51'

In [10]:
# throw out the time part and clean the date part
info_j_date = info_datetime[:10]
info_j_date = info_j_date.strip().split('/')
info_j_date[1] = ('0' + info_j_date[1]) if len(info_j_date[1]) < 2 else info_j_date[1]
info_j_date[2] = ('0' + info_j_date[2]) if len(info_j_date[2]) < 2 else info_j_date[2]
info_j_date

['1398', '03', '13']

In [11]:
# convert Jalali date to Gregorian date
info_c_date = jdatetime.date(year=int(info_j_date[0]), 
                             month=int(info_j_date[1]), 
                             day=int(info_j_date[2])).togregorian()
info_c_date

datetime.date(2019, 6, 3)

In [12]:
# convert both Jalali and Gregorian date to string
info_c_date = info_c_date.strftime('%Y-%m-%d')
info_j_date = '{}-{}-{}'.format(info_j_date[0], info_j_date[1], info_j_date[2])
print(info_c_date)
print(info_j_date)

2019-06-03
1398-03-13

## Searching for required data and preparing them

In [13]:
rows = soup.tbody.find_all(name='tr')
len(rows)

41

In [14]:
print(rows[:2])

[<tr><td>شاخص صنعت</td>
<td><div class="ltr" title="7,650,169,488,403,786">7,650,169.488 B</div></td>
<td>236,046</td>
<td><div class="ltr" title="2,739,895,884">2.740 B</div></td>
<td><div class="ltr" title="10,212,890,935,746">10,212.891 B</div></td>
</tr>, <tr><td>34-خودرو</td>
<td><div class="ltr" title="269,025,262,403,296">269,025.262 B</div></td>
<td>62,425</td>
<td><div class="ltr" title="1,398,654,660">1.399 B</div></td>
<td><div class="ltr" title="2,610,194,121,728">2,610.194 B</div></td>
</tr>]

In [15]:
rows = [r.find_all('td') for r in rows]

In [16]:
# col1: Group
# col2: Market-Value
# col3: Transactions-Number
# col4: Transactions-Volume
# col5: Transactions-Value
rows[1]

[<td>34-خودرو</td>,
 <td><div class="ltr" title="269,025,262,403,296">269,025.262 B</div></td>,
 <td>62,425</td>,
 <td><div class="ltr" title="1,398,654,660">1.399 B</div></td>,
 <td><div class="ltr" title="2,610,194,121,728">2,610.194 B</div></td>]

In [17]:
# get cells string and save them in a list
values = []
for row in rows:
    for col in row:
        values.append(col.string)
        
values[:10]

['شاخص صنعت',
 '7,650,169.488 B',
 '236,046',
 '2.740 B',
 '10,212.891 B',
 '34-خودرو',
 '269,025.262 B',
 '62,425',
 '1.399 B',
 '2,610.194 B']

In [18]:
# split the values into sized 5 chunks to represent each row in a list item
values = [values[i:i+5] for i in range(0, len(values), 5)]
values[:2]

[['شاخص صنعت', '7,650,169.488 B', '236,046', '2.740 B', '10,212.891 B'],
 ['34-خودرو', '269,025.262 B', '62,425', '1.399 B', '2,610.194 B']]

In [19]:
# remove the ',', 'B' and 'M' from the recieved string and convert it to a float number
def purify_number(number):
    number = str(number)
    number = number.split(',')
    number = ''.join(number)
    number = number.strip()

    if 'B' in number:
        number = number.strip('B')
        number = float(number) * 1000
    elif 'M' in number:
        number = number.strip('M')
        #number = float(number) * 1000000
    else:
        number = float(number)

    return number

In [20]:
a = purify_number('   141.383 B    ')
a

141383.0

In [21]:
# cleaning all the numbers
for i in range(len(values)):
    for j in range(1, len(values[0])):
        values[i][j] = purify_number(values[i][j])

In [22]:
# now data is clean and ready to save
values[:3]

[['شاخص صنعت', 7650169488.0, 236046.0, 2740.0, 10212891.0],
 ['34-خودرو', 269025262.0, 62425.0, 1399.0, 2610194.0],
 ['57-بانكها', 644373421.0, 50274.0, 1447.0, 1194232.0]]

## Saving the clean data into excel file

In [23]:
# read the original excel file
df_main = pd.read_excel(file_path)
df_main.head()

Empty DataFrame
Columns: [CDate, JDate, GroupNo, GroupName, MarketValue, TransactionsCount, TransactionsVol, TransactionsValue]
Index: []

In [24]:
# find the group number using regex
def parse_group_no(text):
    if re.search('\d+', text):
        group_no = re.findall('\d+', text)[0]
    else:
        group_no = '0'
        
    return group_no

In [25]:
# prepare a dict of values for creating a DataFrame
CDate = info_c_date * len(values)
CDate = wrap(text=CDate, width=10)
JDate = info_j_date * len(values)
JDate = wrap(text=JDate, width=10)
data = {
    'CDate': CDate,
    'JDate': JDate,
    'GroupNo': [parse_group_no(values[i][0]) for i in range(len(values))],
    'GroupName': [(values[i][0]).encode('utf-8') for i in range(len(values))],
    'MarketValue': [values[i][1] for i in range(len(values))],
    'TransactionsCount': [values[i][2] for i in range(len(values))],
    'TransactionsVol': [values[i][3] for i in range(len(values))],
    'TransactionsValue': [values[i][4] for i in range(len(values))]
}

In [26]:
data

{'CDate': ['2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03',
  '2019-06-03'],
 'JDate': ['1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13',
  '1398-03-13'],
 'GroupNo': ['0',
  '34',
  '57',
  '44',
  '27',
  '43',
  '53',
  '56',
  '72',
  '40',
  '23',
  '31',
  '54',
  '13',
  '58',
  '42',
  '29',
  '39',
  '70',
  '74',
  '73',
  '25',
  '28',
  '60',
  '38',
  '66',
  '49',
  '67',
  '64',
  '11',
  '21',
  '01',
  '10',
  '47',
  '14',
  '22',
  '32',
  '17',
  '20',
  '19',
  '33'],
 'GroupName': [b'\xd8\xb4\xd8\xa7\xd8\xae\xd8\xb5 \xd8\xb5\xd9\x86\xd8\xb9\xd8\xaa',
  b'34-\xd8\xae\xd9\x88\xd8\xaf\xd8\xb1\xd9\x88',
  b'57-\xd8\xa8\xd8\xa7\xd9\x86\xd9\x83\xd9\x87\xd8\xa7',
  b'44-\xd8\xb4\xd9\x8a\xd9\x85\xd9\x8a\xd8\xa7\xd9\x8a\xd9\x8a',
  b'27-\xd9\x81\xd9\x84\xd8\xb2\xd8\xa7\xd8\xaa \xd8\xa7\xd8\xb3\xd8\xa7\xd8\xb3\xd9\x8a',
  b'43-\xd9\x85\xd9\x88\xd8\xa7\xd8\xaf \xd8\xaf\xd8\xa7\xd8\xb1\xd9\x88\xd9\x8a\xd9\x8a',
  b'53-\xd8\xb3\xd9\x8a\xd9\x85\xd8\xa7\xd9\x86',
  b'56-\xd8\xb3\xd8\xb1\xd9\x85\xd8\xa7\xd9\x8a\xd9\x87 \xda\xaf\xd8\xb0\xd8\xa7\xd8\xb1\xd9\x8a\xd9\x87\xd8\xa7',
  b'72-\xd8\xb1\xd8\xa7\xd9\x8a\xd8\xa7\xd9\x86\xd9\x87',
  b'40-\xd8\xaa\xd8\xa7\xd9\x85\xd9\x8a\xd9\x86 \xd8\xa2\xd8\xa8\xd8\x8c \xd8\xa8\xd8\xb1\xd9\x82\xd8\x8c \xda\xaf\xd8\xa7\xd8\xb2',
  b'23-\xd9\x81\xd8\xb1\xd8\xa7\xd9\x88\xd8\xb1\xd8\xaf\xd9\x87 \xd9\x86\xd9\x81\xd8\xaa\xd9\x8a',
  b'31-\xd8\xaf\xd8\xb3\xd8\xaa\xda\xaf\xd8\xa7\xd9\x87\xd9\x87\xd8\xa7\xd9\x8a \xd8\xa8\xd8\xb1\xd9\x82\xd9\x8a',
  b'54-\xd9\x83\xd8\xa7\xd9\x86\xd9\x8a \xd8\xba\xd9\x8a\xd8\xb1\xd9\x81\xd9\x84\xd8\xb2\xd9\x8a',
  b'13-\xd9\x83\xd8\xa7\xd9\x86\xd9\x87 \xd9\x81\xd9\x84\xd8\xb2\xd9\x8a',
  b'58-\xd8\xb3\xd8\xa7\xd9\x8a\xd8\xb1\xd9\x85\xd8\xa7\xd9\x84\xd9\x8a',
  b'42-\xd8\xba\xd8\xb0\xd8\xa7\xd9\x8a\xd9\x8a \xd8\xa8\xd8\xac\xd8\xb2 \xd9\x82\xd9\x86\xd8\xaf',
  b'29-\xd9\x85\xd8\xa7\xd8\xb4\xd9\x8a\xd9\x86 \xd8\xa2\xd9\x84\xd8\xa7\xd8\xaa',
  b'39-\xda\x86\xd9\x86\xd8\xaf \xd8\xb1\xd8\xb4\xd8\xaa\xd9\x87 \xd8\xa7\xd9\x8a \xd8\xb5',
  b'70-\xd8\xa7\xd9\x86\xd8\xa8\xd9\x88\xd9\x87 \xd8\xb3\xd8\xa7\xd8\xb2\xd9\x8a',
  b'74-\xd9\x81\xd9\x86\xd9\x8a \xd9\x85\xd9\x87\xd9\x86\xd8\xaf\xd8\xb3\xd9\x8a',
  b'73-\xd8\xa7\xd8\xb7\xd9\x84\xd8\xa7\xd8\xb9\xd8\xa7\xd8\xaa \xd9\x88 \xd8\xa7\xd8\xb1\xd8\xaa\xd8\xa8\xd8\xa7\xd8\xb7\xd8\xa7\xd8\xaa',
  b'25-\xd9\x84\xd8\xa7\xd8\xb3\xd8\xaa\xd9\x8a\xd9\x83',
  b'28-\xd9\x85\xd8\xad\xd8\xb5\xd9\x88\xd9\x84\xd8\xa7\xd8\xaa \xd9\x81\xd9\x84\xd8\xb2\xd9\x8a',
  b'60-\xd8\xad\xd9\x85\xd9\x84 \xd9\x88 \xd9\x86\xd9\x82\xd9\x84',
  b'38-\xd9\x82\xd9\x86\xd8\xaf \xd9\x88 \xd8\xb4\xd9\x83\xd8\xb1',
  b'\xd8\xa8\xd9\x8a\xd9\x85\xd9\x87 \xd9\x88 \xd8\xa8\xd8\xa7\xd8\xb2\xd9\x86\xd8\xb4\xd8\xb3\xd8\xaa\xd9\x8766',
  b'49-\xda\xa9\xd8\xa7\xd8\xb4\xd9\x8a \xd9\x88 \xd8\xb3\xd8\xb1\xd8\xa7\xd9\x85\xd9\x8a\xd9\x83',
  b'67-\xd8\xa7\xd8\xaf\xd8\xa7\xd8\xb1\xd9\x87 \xd8\xa8\xd8\xa7\xd8\xb2\xd8\xa7\xd8\xb1\xd9\x87\xd8\xa7\xd9\x8a \xd9\x85\xd8\xa7\xd9\x84\xd9\x8a',
  b'64-\xd8\xb1\xd8\xa7\xd8\xaf\xd9\x8a\xd9\x88\xd9\x8a\xd9\x8a',
  b'\xd8\xa7\xd8\xb3\xd8\xaa\xd8\xae\xd8\xb1\xd8\xa7\xd8\xac\xd9\x86\xd9\x81\xd8\xaa\xd8\xac\xd8\xb2\xd9\x83\xd8\xb4\xd9\x8111',
  b'21-\xd9\x85\xd8\xad\xd8\xb5\xd9\x88\xd9\x84\xd8\xa7\xd8\xaa \xd9\x83\xd8\xa7\xd8\xba\xd8\xb0',
  b'01-\xd8\xb2\xd8\xb1\xd8\xa7\xd8\xb9\xd8\xaa',
  b'10-\xd8\xb0\xd8\xba\xd8\xa7\xd9\x84 \xd8\xb3\xd9\x86\xda\xaf',
  b'47\xd8\xae\xd8\xb1\xd8\xaf\xd9\x87 \xd9\x81\xd8\xb1\xd9\x88\xd8\xb4\xd9\x8a \xd8\xa8\xd9\x87 \xd8\xac\xd8\xb2 \xd9\x88\xd8\xb3\xd8\xa7\xd9\x8a\xd9\x84 \xd9\x86\xd9\x82\xd9\x84\xd9\x8a\xd9\x87',
  b'14-\xd8\xb3\xd8\xa7\xd9\x8a\xd8\xb1 \xd9\x85\xd8\xb9\xd8\xa7\xd8\xaf\xd9\x86',
  b'22-\xd8\xa7\xd9\x86\xd8\xaa\xd8\xb4\xd8\xa7\xd8\xb1 \xd9\x88 \xda\x86\xd8\xa7\xd9\xbe',
  b'32-\xd9\x88\xd8\xb3\xd8\xa7\xd9\x8a\xd9\x84 \xd8\xa7\xd8\xb1\xd8\xaa\xd8\xa8\xd8\xa7\xd8\xb7\xd9\x8a',
  b'17-\xd9\x85\xd9\x86\xd8\xb3\xd9\x88\xd8\xac\xd8\xa7\xd8\xaa',
  b'20-\xd9\x85\xd8\xad\xd8\xb5\xd9\x88\xd9\x84\xd8\xa7\xd8\xaa \xda\x86\xd9\x88\xd8\xa8\xd9\x8a',
  b'19-\xd9\x85\xd8\xad\xd8\xb5\xd9\x88\xd9\x84\xd8\xa7\xd8\xaa \xda\x86\xd8\xb1\xd9\x85\xd9\x8a',
  b'33-\xd8\xa7\xd8\xa8\xd8\xb2\xd8\xa7\xd8\xb1 \xd9\xbe\xd8\xb2\xd8\xb4\xd9\x83\xd9\x8a'],
 'MarketValue': [7650169488.0,
  269025262.0,
  644373421.0,
  1900527339.0,
  1389537365.0,
  327414867.0,
  132475867.0,
  152416614.0,
  234634329.0,
  244839872.0,
  796835303.0,
  58769609.0,
  39352522.0,
  761443842.0,
  22727610.0,
  95823366.0,
  58429483.0,
  437081000.0,
  43630457.0,
  165223800.0,
  25372000.0,
  33797691.0,
  29702528.0,
  96448191.0,
  40033876.0,
  36108800.0,
  11616352.0,
  76231900.0,
  334939200.0,
  19399846.0,
  6219562.0,
  7747230.0,
  2114180.0,
  41123000.0,
  1254852.0,
  7046820.0,
  3223500.0,
  2614576.0,
  3405027.0,
  4561074.0,
  9313400.0],
 'TransactionsCount': [236046.0,
  62425.0,
  50274.0,
  20390.0,
  15898.0,
  15010.0,
  16479.0,
  19931.0,
  10125.0,
  2738.0,
  10137.0,
  5850.0,
  9250.0,
  11983.0,
  8676.0,
  4472.0,
  6272.0,
  3757.0,
  6455.0,
  2758.0,
  2063.0,
  3553.0,
  4777.0,
  5880.0,
  4669.0,
  2991.0,
  2535.0,
  2975.0,
  2216.0,
  1230.0,
  1317.0,
  657.0,
  639.0,
  929.0,
  789.0,
  299.0,
  168.0,
  145.0,
  76.0,
  5.0,
  0.0],
 'TransactionsVol': [2740.0,
  1399.0,
  1447.0,
  '172.604 ',
  '112.454 ',
  '90.188 ',
  '141.383 ',
  '298.003 ',
  '127.488 ',
  '42.805 ',
  '32.724 ',
  '41.629 ',
  '40.843 ',
  '70.270 ',
  '168.368 ',
  '36.102 ',
  '37.891 ',
  '68.575 ',
  '88.702 ',
  '24.869 ',
  '24.196 ',
  '21.118 ',
  '56.331 ',
  '38.844 ',
  '12.820 ',
  '47.100 ',
  '18.037 ',
  '12.208 ',
  '27.713 ',
  '12.571 ',
  '4.050 ',
  '3.840 ',
  '2.203 ',
  561815.0,
  '2.381 ',
  '1.906 ',
  645886.0,
  97867.0,
  555894.0,
  25209.0,
  0.0],
 'TransactionsValue': [10212891.0,
  2610194.0,
  1194232.0,
  989110.0,
  729291.0,
  619402.0,
  602031.0,
  579976.0,
  551518.0,
  513549.0,
  436921.0,
  404823.0,
  336782.0,
  328300.0,
  271096.0,
  237861.0,
  231235.0,
  200216.0,
  163857.0,
  158853.0,
  153477.0,
  152628.0,
  150879.0,
  141262.0,
  139909.0,
  104581.0,
  77872.0,
  69444.0,
  67117.0,
  46808.0,
  41133.0,
  33343.0,
  25174.0,
  23104.0,
  18445.0,
  13567.0,
  6940.0,
  1576.0,
  1405.0,
  '481.920 ',
  0.0]}

In [27]:
# create new DataFrame with recently fetched data
df = pd.DataFrame(data=data)
df.head()

,CDate,JDate,GroupNo,GroupName,MarketValue,TransactionsCount,TransactionsVol,TransactionsValue
0,2019-06-03,1398-03-13,0,b'\xd8\xb4\xd8\xa7\xd8\xae\xd8\xb5 \xd8\xb5\xd...,7.650169e+09,236046.0,2740,1.02129e+07
1,2019-06-03,1398-03-13,34,b'34-\xd8\xae\xd9\x88\xd8\xaf\xd8\xb1\xd9\x88',2.690253e+08,62425.0,1399,2.61019e+06
2,2019-06-03,1398-03-13,57,b'57-\xd8\xa8\xd8\xa7\xd9\x86\xd9\x83\xd9\x87\...,6.443734e+08,50274.0,1447,1.19423e+06
3,2019-06-03,1398-03-13,44,b'44-\xd8\xb4\xd9\x8a\xd9\x85\xd9\x8a\xd8\xa7\...,1.900527e+09,20390.0,172.604,989110
4,2019-06-03,1398-03-13,27,b'27-\xd9\x81\xd9\x84\xd8\xb2\xd8\xa7\xd8\xaa ...,1.389537e+09,15898.0,112.454,729291

In [28]:
# read the original excel file
df_main = pd.read_excel(file_path)
df_main.head()

Empty DataFrame
Columns: [CDate, JDate, GroupNo, GroupName, MarketValue, TransactionsCount, TransactionsVol, TransactionsValue]
Index: []

In [29]:
# combine recently created DataFrame and the original one
df1 = pd.concat([df_main, df], ignore_index=True, sort=False)
df1.head()

,CDate,JDate,GroupNo,GroupName,MarketValue,TransactionsCount,TransactionsVol,TransactionsValue
0,2019-06-03,1398-03-13,0,b'\xd8\xb4\xd8\xa7\xd8\xae\xd8\xb5 \xd8\xb5\xd...,7.650169e+09,236046.0,2740,1.02129e+07
1,2019-06-03,1398-03-13,34,b'34-\xd8\xae\xd9\x88\xd8\xaf\xd8\xb1\xd9\x88',2.690253e+08,62425.0,1399,2.61019e+06
2,2019-06-03,1398-03-13,57,b'57-\xd8\xa8\xd8\xa7\xd9\x86\xd9\x83\xd9\x87\...,6.443734e+08,50274.0,1447,1.19423e+06
3,2019-06-03,1398-03-13,44,b'44-\xd8\xb4\xd9\x8a\xd9\x85\xd9\x8a\xd8\xa7\...,1.900527e+09,20390.0,172.604,989110
4,2019-06-03,1398-03-13,27,b'27-\xd9\x81\xd9\x84\xd8\xb2\xd8\xa7\xd8\xaa ...,1.389537e+09,15898.0,112.454,729291

In [30]:
# Save the output to excel file
df1.to_excel(excel_writer=file_path, index=False)